@use "../global.scss";
@use "../elements/destination.scss";

body {
  background-image: url("assets/destination/background-destination-desktop.jpg");
  background-size: cover;

  @media (max-width: 800px) {
    background-image: url("assets/destination/background-destination-tablet.jpg");
  }

  @media (max-width: 550px) {
    background-image: url("assets/destination/background-destination-mobile.jpg");
  }
}
