.person {
  display: flex;

  &__details {
    margin-left: 16.5rem;
    margin-top: 15rem;
  }

  &__title {
    text-transform: uppercase;
    font-family: "Bellefair", serif;
    opacity: 0.5;
    font-size: 3.2rem;

    margin-bottom: 1rem;
  }

  &__name {
    text-transform: uppercase;
    font-family: "Bellefair", serif;
    font-size: 5.6rem;

    margin-bottom: 2rem;
  }
  &__description {
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-family: "Barlow", sans-serif;
    color: var(--color-grey);
    margin-right: 20rem;
  }

  > * {
    flex: 1;
  }
  img {
    display: inline-block;
    margin-top: -5.8rem;
  }
}

nav {
  display: flex;
  gap: 2.5rem;

  margin-top: -10rem;
  margin-left: 16.5rem;

  > * {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.17;

    &.active {
      opacity: 1;
    }
  }
}
