.technology {
  display: flex;
  color: var(--color-white);
  gap: 7rem;
  &__nav {
    font-family: "Bellefair", serif;
    font-size: 3.2rem;

    margin-top: 10rem;
    ul {
      display: flex;
      flex-direction: column;
      gap: 3rem;
    }

    li {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: var(--color-dark);
      border: 1px solid rgba(255, 255, 255, 0.25);
      display: inline-block;
      transition: all 0.3s;
      cursor: pointer;
      text-align: center;

      &:hover {
        border: 1px solid #fff;
      }

      &.active {
        background-color: var(--color-white);
        a {
          color: var(--color-dark);
        }
      }
    }

    a {
      display: inline-block;
      line-height: 8rem;
      width: 100%;
      text-decoration: none;
      color: var(--color-white);
    }
  }
  &__details {
    margin-top: 10rem;
  }
  &__subtitle {
    font-size: 1.6rem;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: var(--color-grey);
  }
  &__title {
    font-family: "Bellefair", serif;
    font-size: 5.6rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 1rem;
  }
  &__description {
    font-size: 1.8rem;
    font-family: "Barlow", sans-serif;
    line-height: 3.2rem;
    color: var(--color-grey);
    margin-right: 3.5rem;
    margin-top: 2rem;
  }
  &__image {
    margin-top: 2rem;
    margin-right: -16.5rem;
  }
}

@media (max-width: 1000px) {
  .technology {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5rem;

    &__nav {
      margin: 0;
      ul {
        flex-direction: row;
      }
    }

    &__details {
      margin-top: 0;
    }

    &__description {
      margin-right: 10%;
      margin-left: 10%;
    }

    &__image {
      order: -5;
      margin-top: 5rem;
      margin-right: 0;
      width: 100vw;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .technology {
    &__description {
      margin-right: 0;
      margin-left: 0;
    }
  }
}
